/* Only styles that can't be easily done with inline utilities */

.hex-clip {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.strava-link:hover:not(:disabled) {
  text-decoration-thickness: 2px;
}

/* Strava official orange: #FC5200 */
